@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Montserrat', sans-serif;
}

html body{
    background-color: #E8E9F3;
}

body .main{
    background-color: #1B1725;
    width: 80%;
    display: block;
    margin: 200px auto;
    box-shadow: 0px 0px 10px 10px #00000045;
    padding: 50px 0;
}

.main h1, .main h2{
    padding: 10px;
    margin: auto;
    align-items: center;
    text-align: center;
    color: #E8E9F3;
}
.main a{
    display: block;
    width: 800px;
    border-radius: 10px;
    margin: 100px auto;
}
.main img{
    display: block;
    width: 800px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #00000045;
    transition: 0.2s;
}
.main img:hover{
    box-shadow: 0px 0px 15px 10px #00000031;
    transform: scale(1.03);
    transition: 0.2s;
}